/* <uniquifier>: Use a unique and descriptive class name */
/* <weight>: Use a value from 100 to 700  */

.roboto-mono-font {
    font-family: "Roboto Mono", monospace;
    font-weight: 700;
    font-style: normal;
}
.libre-baskerville-regular {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
}
.libre-baskerville-bold {
    font-family: "Libre Baskerville", serif;
    font-weight: 700;
    font-style: normal;
}
.libre-baskerville-regular-italic {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: italic;
}
  
  html,
  body {
    font-size: 16px;
    background-color: rgb(168, 185, 231);
  }
  anchor {
    color: rgb(56, 25, 168);
    text-decoration: none;
  }
  :any-link {
    color: rgb(56, 25, 168);
    text-decoration: none;
  }
  
  p {
    font-weight: 400;
    line-height: 1.4em;
  }
  h1, h2, h3, h4 {
    font-family: "Roboto Mono", monospace, sans-serif;
    background-color: #416142; /* Background color of your choice */
    color: #fff; /* Font color for better readability */
    border: 1px solid #D6A800; /* Border color and style */
    padding: 10px; /* Padding around the text */
}

h1 {
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    font-size: 2em;
   
}

h2 {
    font-size: 1.5em;
 
}

h3 {
    font-size: 1.17em;
 
}

h4 {
    font-size: 1em;
 
}
  
.container {
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
 
}