/* <uniquifier>: Use a unique and descriptive class name */
/* <weight>: Use a value from 100 to 700  */

.roboto-mono-font {
    font-family: "Roboto Mono", monospace;
    font-weight: 700;
    font-style: normal;
}
.libre-baskerville-regular {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
}
.libre-baskerville-bold {
    font-family: "Libre Baskerville", serif;
    font-weight: 700;
    font-style: normal;
}
.libre-baskerville-regular-italic {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: italic;
}
  
  html,
  body {
    font-size: 16px;
    background-color: azure;
  }
  anchor {
    color: rgb(56, 25, 168);
    text-decoration: none;
  }
  :any-link {
    color: rgb(56, 25, 168);
    text-decoration: none;
  }

  .container {
    text-align: center;
  }

  .left-side {
    display: inline-block;
    width: 45%;
    vertical-align: top;
    border: 1px solid red;
    padding: 10px;
    border-radius: 15px;
  }

  .right-side {
    display: inline-block;
    width: 45%;
    vertical-align: top;
    border: 1px dashed red;
    padding: 10px;
    border-radius: 15px;
  }

  .full-width {
    width: 100%;
    margin-top: 60px;
    float: right;
    margin-bottom: 20px;
    text-align: right;
  }
  
  p {
    font-weight: 300;
    line-height: 1.4em;
  }

  h1 {
    font-family: "Roboto Mono", monospace, sans-serif;
    background-color: #416142; /* Background color of your choice */
    color: #fff; /* Font color for better readability */
    border: 1px solid #D6A800; /* Border color and style */
    padding: 10px; /* Padding around the text */
  }
  
  h3 {
    font-weight: 500;
  }

  ol {
    font-weight: 300;
    border-radius: 15px;
  }

  ol, ol li {
    list-style: numeric;
    list-style-position: inside;
  }

  ul {
    padding: 10px;
    border-radius: 15px;
  }

  ul, ul li {
    list-style: upper-roman;
    list-style-position: inside;
  }
  
  a {
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }
 
